{% extends 'tests/requirements.txt.jj2' %}
{%block extras %}
lxml
pyexcel-ods3>=0.1.0
pyexcel-xls>=0.1.0
pyexcel-xlsx>=0.1.0
pyexcel-handsontable
pyexcel-pygal
moban
black;python_version>="3.6"
isort;python_version>="3.6"
{%endblock%}
